@* <!DOCTYPE html>
 *@

@* <html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewData["title"] </title>

	<link href="~/css/homepagelayout.css" rel="stylesheet" />

</head>
<body>
    <div>
        <div class="main-container">

        @RenderBody()
            <div class="blur-circle1">
            </div>
            <div class="blur-circle2">
            </div>
            <!-- Start Landing Page -->
            <div class="landing-page">
                
                <div class="content">
                    <div class="container">
                        <div class="info">
                            <h1>Looking For Inspiration</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
                            <button>Button name</button>
                        </div>
                        <div class="image">
                            <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Landing Page -->
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("ValidationScripts", required: false)
</body>
</html> *@
